<h1>アカウント</h1>

<p><strong>ユーザー名:</strong> <%= @user.username %></p>
<p><strong>メールアドレス:</strong> <%= @user.email %></p>

<%= link_to 'プロフィール編集', edit_account_path, style: 'text-decoration: none; color: black;' %>
<%= button_to 'ログアウト', logout_path, method: :delete, style: 'background: none; border: none; color: black; text-decoration: underline;' %>
