<h1>ようこそ、<%= current_user.username %>さん！</h1>

<h2>あなたのレシピ一覧</h2>

<% if @recipes.any? %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <%= link_to recipe.title, recipe_path(recipe) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>まだレシピはありません。</p>
<% end %>

<%= link_to 'レシピを作成する', new_recipe_path, class: 'btn btn-primary' %>
